body {background-color: #CCC;}

.bgimg {
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	z-index:-1;
	opacity:1;
}

.navbar {
	background-color: #1D3461;
}

.form-container {
	padding: 20px 10px;
	background-color: rgba(255,255,255,0.7);
}

.greeting {
	color:black;
	text-align: center;
	padding: 10px 0px;
	background-color: rgba(255,255,255,0.7);
}

hr {
	margin: 0px;
}

.wikipedia-container {
	padding:10px;
	background-color: rgba(255,255,255,0.7);
}

.nytimes-container {
	padding: 10px;
	background-color: rgba(255,255,255,0.7);
}

.article-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.article {
	border-top: 1px solid #CCC;
}
.article:first-child {
	border-top:none;
}